*{
  box-sizing: border-box;
}

body {

}

a {
  color: #00B7FF;
}

header, header nav{
  height: 100px;
}

header img.logo{
    width: 50px;
}

.buscadorr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buscadorSmall{
  position: relative;
  left: 50px;
}
/* detalle de producto */
.uk-flex-middle {
  align-items: baseline;
}
.body-detalle{
  color: #65F;

}

.body-detalle img.imagen-producto{
  width: 100%;

}



.iconEye:hover{
  color: rgb(95, 163, 5);
     
}

.error{
  color:red
}
.correcto{
  color:green
}
.uk-inline{
  
}